services:
  app:
    build:
      context: .
      dockerfile: server/Dockerfile
    container_name: autobattler-app-prod
    environment:
      NODE_ENV: production
      PORT: 3000
    ports:
      - "3000:3000"
